<%- include("partials/header"); -%>

<main class="create-main">
    <h1>Create note:</h1>
    <form action="/create" method="POST" class="create-form d-flex">
        <input type="text" name="title" placeholder="Write your innovation...">
        <textarea name="body" id="" cols="30" rows="10"></textarea>
        <button type="submit" class="submit-btn">Create</button>
    </form>
</main>

<%- include("partials/footer"); -%>