<%- include("partials/header"); -%>

    <main class="d-flex">
        <nav class="d-flex">
            <div>PROFILE</div>
            <div>OPTIONS</div>
            <div>BUTTONS</div>
        </nav>
        <section class="workspace d-flex">
            <div class="topbar d-flex">
                <h1 class="heading">Cross Keep</h1>
            </div>
            <div class="notes-area d-flex">
                <div class="note">
                    <h2>First note</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est nulla ipsa fugit alias velit ea esse
                        possimus in nam illo! Similique error nemo ipsa, quaerat voluptatum in recusandae. Autem,
                        voluptatum.</p>
                </div>
                <div class="note">
                    <h2>Second note</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facere voluptates quis
                        asperiores eligendi necessitatibus ipsum cum, laboriosam unde tempora repellendus? Dolor eaque
                        perspiciatis distinctio voluptatibus, quisquam dolorem rerum commodi ipsam doloremque repellat
                        eligendi dicta accusamus eos, ipsa, labore nostrum. Ipsum in neque quibusdam numquam sed quos
                        voluptatem ducimus nam.</p>
                </div>
                <div class="note">
                    <h2>Third note</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facere voluptates quis
                        asperiores eligendi necessitatibus ipsum cum, laboriosam unde tempora repellendus? Dolor eaque
                        perspiciatis</p>
                </div>
                <div class="note">
                    <h2>Fourth note</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum facere voluptates quis
                        asperiores eligendi necessitatibus ipsum cum, laboriosam unde tempora repellendus? Dolor eaque
                        perspiciatis</p>
                </div>
            </div>
        </section>
        <a href="/create" class="add-btn"><button>+</button></a>
    </main>

    <%- include("partials/footer"); -%>