* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Display flex class */
.d-flex {
    display: flex;
}

/* Main body */

/* Side bar */
nav {
    height: 100vh;
    width: 18%;
    background-color: #ffffff;
    position: sticky;
    left: 0;
    top: 0;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.103);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Profile */
.profile {
    padding: 5%;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 100px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.103);
    border-radius: 100%;
}

.profile h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

/* Options */
.options {
    margin-top: 10%;
    height: 220px;
    width: 65%;
    flex-direction: column;
    list-style: none;
    padding: 5% ;
    margin-bottom: 10%;
}

.options a {
    font-size: 1.25rem;
    margin-bottom: 18%;
    color: #7c7c7c;
    text-decoration: none;
}

/* Buttons */
.buttons-class {
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.buttons {
    padding: 6.5% 20%;
    background-color: #ffc800;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.166);
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.profile-btn {
    background-color: #ffc131;
    color: #ffffff;
    margin-bottom: 7%;
}

.logout {
    background-color: #e0e0e0;
    color: #323232;
}

/* Workspace */
.workspace {
    width: calc(100vw - 18%);
    background-color: #f4f4f4;
    flex-direction: column;
}

/* Topbar */
.topbar {
    margin: 2% 5%;
    height: 70px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.103);
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
}
.heading {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    font-weight: 100;
    color: #ffc800;
}

.add-btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #ffc800;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.103);
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    right: 40px;
    bottom: 40px;
}

.add-btn:hover {
    transition: ease-in-out 0.15s;
    background-color: #ffa600;
}

.add-btn button {
    background: none;
    border: none;
    font-size: 2.7rem;
    color: #ffffff;
    cursor: pointer;
}

.notes-area {
    margin: 2.5% 5%;
    height: auto;
    border-radius: 15px;
}

.note {
    margin-right: 2.5%;
    padding: 2%;
    width: 30% ;
    height: fit-content;
    background-color: #ffffff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.103);
    border-radius: 12px;
}
.note h2 {
    margin-bottom: 2%;
}

