* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

/* Display flex class */
.d-flex {
    display: flex;
}

input {
    outline: none;
}


/**========= START PAGE STYLES =========**/



.start-main {
    height: 100vh;
    padding: 0% 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.features {
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features h1 {
    font-family: 'Lobster', cursive;
    color: #ffc800;
    font-weight: 200;
    font-size: 3.6rem;
    text-align: right;
}

.features-div {
    width: 100%;
    height: 75%;
    position: relative;
}

.features-div div {
    position: absolute;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(116, 54, 0, 0.133);
}

.take-note {
    height: 65%;
    width: 45%;
    background-color: #ffd06a;
    top: 0;
    left: 0;
}

.url {
    height: 35%;
    width: 45%;
    background-color: #ffea9d;
    top: 0;
    right: 0;
}

.imgs {
    height: 55%;
    width: 45%;
    background-color: #ffea9d;
    bottom: 0;
    right: 0;
}

.favs {
    height: 25%;
    width: 45%;
    background-color: #ffd89d;
    bottom: 0;
    left: 0;
}

.hr {
    width: 1px;
    height: 60%;
    background-color: rgb(31, 31, 31);
}

.user-auth {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#register-form {
    display: flex;
}

#login-form {
    display: none;
}

.auth-form {
    width: 100%;
    height: 85%;
    flex-direction: column;
    justify-content: space-around;
}

.name-fields {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-fields input {
    width: 45%;
}

.auth-field-dimensions {
    width: 90%;
    height: 45px;
}

.auth-input-field {
    font-family: 'Lato', sans-serif;
    width: 90%;
    height: 45px;
    border: none;
    border-bottom: 1px solid rgb(55, 55, 55);
    background: transparent;
    font-size: 1.2rem;
    font-weight: 500;
}

.auth-input-field::placeholder {
    font-family: 'Lato', sans-serif;
    font-style: italic;
    transform: translateY(8px);
    font-weight: 500;
}

.auth-btn {
    font-family: 'Lato', sans-serif;
    width: fit-content;
    padding: 3.5% 15%;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(31, 31, 31);
    cursor: pointer;
}

.auth-btn:hover {
    transition: ease-in-out 0.17s;
    color: #fff;
    background-color: #ffdc5e;
}

.btns {
    display: flex;
    align-items: center;
}

.auth-tab-btn {
    background: none;
    border: none;
    width: fit-content;
    cursor: pointer;
}

#register {
    display: none;
}

#login {
    display: block;
}

.auth-tab-btn img {
    height: 51.2px;
}



/**========= DASHBOARD STYLES =========**/



/* Main body */

/* Side bar */
nav {
    height: 100vh;
    width: 18%;
    background-color: #ffffff;
    position: sticky;
    left: 0;
    top: 0;
    box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.103);
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

/* Profile */
.profile {
    padding: 5%;
    height: 150px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.profile img {
    width: 100px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.103);
    border-radius: 100%;
}

.profile h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

/* Options */
.options {
    margin-top: 10%;
    height: 220px;
    width: 65%;
    flex-direction: column;
    list-style: none;
    padding: 5%;
    margin-bottom: 10%;
}

.options a {
    font-size: 1.25rem;
    margin-bottom: 18%;
    color: #7c7c7c;
    text-decoration: none;
}

/* Buttons */
.buttons-class {
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.buttons {
    padding: 6.5% 20%;
    background-color: #ffc800;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
}

.profile-btn {
    background-color: #ffc131;
    color: #ffffff;
    margin-bottom: 7%;
}

.logout {
    background-color: #e0e0e0;
    color: #323232;
}

/* Workspace */
.workspace {
    width: calc(100vw - 18%);
    padding: 2rem 4rem;
    background-color: #f4f4f4;
    flex-direction: column;
}

.icons {
    width: 1.5rem;
    height: 1.5rem;
}

/* Topbar */
.topbar {
    height: 70px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.103);
    align-items: center;
    justify-content: space-between;
    padding: 0rem 4rem;
}

.title {
    font-family: 'Lobster', cursive;
    font-size: 2rem;
    font-weight: 100;
    color: #ffc800;
}

.search-div {
    width: 120px;
    align-items: center;
    justify-content: space-between;
}

.search-div input {
    width: 73%;
    border: none;
    border-bottom: 1.5px solid #5a5a5a;
    font-size: 1rem;
    outline: none;
}

.search-div input::placeholder {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
}

.search-div a {
    height: 22px;
}

.search-div h4 {
    font-weight: 400;
    font-size: 1.2rem;
}

.add-btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: #ffc800;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.103);
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    right: 40px;
    bottom: 40px;
}

.add-btn:hover {
    transition: ease-in-out 0.15s;
    background-color: #ffa600;
}

.add-btn button {
    background: none;
    border: none;
    font-size: 2.7rem;
    color: #ffffff;
    cursor: pointer;
}

.notes-area {
    width: 100%;
    padding: 3rem 0rem;
    height: auto;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1.5rem;
}

.no-notes-message {
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translateX(-50%);
    font-size: 1rem;
    font-weight: 400;
    color: #aaaaaa;
}

.note {
    padding: 1.5rem;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffffff;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.103);
    border-radius: 12px;
}

.note-actions {
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.note p {
    font-size: 1.1rem;
}

.bookmark-btn {
    border: none;
    background: none;
}

.delete-btn {
    background: none;
    border: none;
}

.icons {
    cursor: pointer;
}



/**========= CREATE PAGE STYLES =========**/



.create-main {
    padding: 4% 15%;
}

.create-main h1 {
    margin-bottom: 4.5%;
    font-size: 2.7rem;
    font-weight: 700;
}

.create-form {
    position: relative;
    width: 70%;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0px 5.5px 18px rgba(0, 0, 0, 0.103);
}

.create-form input,
textarea {
    font-family: 'Lato', sans-serif;
    border: none;
}

.create-form input {
    height: 10vh;
    padding: 1% 6%;
    font-size: 1.7rem;
    font-weight: 500;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    outline: none;
}

.create-form textarea {
    height: 52vh;
    padding: 3% 6%;
    outline: none;
    font-size: 1.5rem;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    resize: none;
}

.create-form input:focus {
    background-color: #f9f9f9;
}

.create-form textarea:focus {
    background-color: #f9f9f9;
}

.submit-btn {
    padding: 0.9rem 1.8rem;
    background-color: #ffa600;
    box-shadow: 0px 4.5px 12px rgba(0, 0, 0, 0.103);
    font-weight: 600;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    position: absolute;
    right: 50px;
    bottom: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.submit-btn:hover {
    transition: ease-in-out 0.15s;
    background-color: #ffc800;
}

.back-btn {
    padding: 0.9rem 1.8rem;
    background-color: #e3e3e3;
    box-shadow: 0px 4.5px 12px rgba(0, 0, 0, 0.103);
    font-weight: 600;
    color: #323232;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    position: absolute;
    right: 200px;
    bottom: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}